.Bd\(buttomBorder\) {
  border: solid 3px #e94e61;
}
.Bdt\(greySolid\) {
  border-top: 1px solid #eee;
}
.Bdstart\(greySolid\) {
  border-left: 1px solid #eee;
}
.Bdbc\(\#d8d8d8\) {
  border-bottom-color: #d8d8d8;
}
.Bdbs\(s\) {
  border-bottom-style: solid;
}
.Bdbw\(1px\) {
  border-bottom-width: 1px;
}
.Bdrs\(17px\) {
  border-radius: 17px;
}
.Bdrs\(50\%\) {
  border-radius: 50%;
}
.Bg\(\#e94e61\) {
  background: #e94e61;
}
.Bgi\(buttomRed\) {
  background-image: linear-gradient(253deg, #f5515f, #9f041b);
}
.Bgc\(\#f2f2f2\) {
  background-color: #f2f2f2;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.Bxsh\(\$menuBarBoxShadow\) {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
}
.Cl\(b\) {
  clear: both;
}
.Cl\(start\) {
  clear: left;
}
.C\(\#26282a\) {
  color: #26282a;
}
.C\(\#9b9b9b\) {
  color: #9b9b9b;
}
.C\(\#cacaca\) {
  color: #cacaca;
}
.C\(\#e94e61\) {
  color: #e94e61;
}
.C\(\#fff\) {
  color: #fff;
}
.D\(f\) {
  display: flex;
}
.D\(ib\) {
  display: inline-block;
}
.D\(tb\) {
  display: table;
}
.Fld\(c\) {
  flex-direction: column;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Fl\(end\) {
  float: right;
}
.Fl\(start\) {
  float: left;
}
.Ff\(standardFf\) {
  font-family: Helvetica Neue, Helvetica, Arial, STHeiti, Microsoft JhengHei, 微軟正黑體, sans-serif;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(20px\) {
  font-size: 20px;
}
.Fz\(24px\) {
  font-size: 24px;
}
.Fz\(36px\) {
  font-size: 36px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(144px\) {
  height: 144px;
}
.H\(16px\) {
  height: 16px;
}
.H\(32px\) {
  height: 32px;
}
.H\(44px\) {
  height: 44px;
}
.H\(52px\) {
  height: 52px;
}
.H\(72px\) {
  height: 72px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(25px\) {
  line-height: 25px;
}
.Lh\(43px\) {
  line-height: 43px;
}
.Lh\(72px\) {
  line-height: 72px;
}
.M\(a\) {
  margin: auto;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(13px\) {
  margin-top: 13px;
}
.Mt\(16px\) {
  margin-top: 16px;
}
.Mt\(40px\) {
  margin-top: 40px;
}
.Mt\(44px\) {
  margin-top: 44px;
}
.Mt\(8px\) {
  margin-top: 8px;
}
.Mend\(24px\) {
  margin-right: 24px;
}
.Mend\(64px\) {
  margin-right: 64px;
}
.Mb\(16px\) {
  margin-bottom: 16px;
}
.Mstart\(16px\) {
  margin-left: 16px;
}
.Mstart\(4px\) {
  margin-left: 4px;
}
.Mstart\(80px\) {
  margin-left: 80px;
}
.Mstart\(a\) {
  margin-left: auto;
}
.T\(50\%\) {
  top: 50%;
}
.Start\(46px\) {
  left: 46px;
}
.Start\(50\%\) {
  left: 50%;
}
.Py\(20px\) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Py\(24px\) {
  padding-top: 24px;
  padding-bottom: 24px;
}
.Pstart\(77px\) {
  padding-left: 77px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(end\) {
  text-align: right;
}
.Td\(n\) {
  text-decoration: none;
}
.Translate3d\(-50\%\,-50\%\,0\) {
  transform: translate3d(-50%,-50%,0);
}
.TranslateY\(-50\%\) {
  transform: translateY(-50%);
}
.W\(10\%\) {
  width: 10%;
}
.W\(100\%\) {
  width: 100%;
}
.W\(1028px\) {
  width: 1028px;
}
.W\(144px\) {
  width: 144px;
}
.W\(198px\) {
  width: 198px;
}
.W\(252px\) {
  width: 252px;
}
.W\(32px\) {
  width: 32px;
}
.W\(509px\) {
  width: 509px;
}
.W\(623px\) {
  width: 623px;
}
.W\(72px\) {
  width: 72px;
}
.W\(80\%\) {
  width: 80%;
}
.W\(800px\) {
  width: 800px;
}
.Z\(100\) {
  z-index: 100;
}
.Hidden {
  position: absolute !important;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
