.Bgc\(\#f2f2f2\) {
  background-color: #f2f2f2;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.Bxsh\(\$menuBarBoxShadow\) {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3);
}
.C\(\#26282a\) {
  color: #26282a;
}
.D\(f\) {
  display: flex;
}
.Ff\(standardFf\) {
  font-family: Helvetica Neue, Helvetica, Arial, STHeiti, Microsoft JhengHei, 微軟正黑體, sans-serif;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(36px\) {
  font-size: 36px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(44px\) {
  height: 44px;
}
.H\(72px\) {
  height: 72px;
}
.List\(n\) {
  list-style-type: none;
}
.Lh\(25px\) {
  line-height: 25px;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(44px\) {
  margin-top: 44px;
}
.Mstart\(77px\) {
  margin-left: 77px;
}
.T\(50\%\) {
  top: 50%;
}
.Start\(46px\) {
  left: 46px;
}
.Start\(50\%\) {
  left: 50%;
}
.Pstart\(77px\) {
  padding-left: 77px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Td\(n\) {
  text-decoration: none;
}
.Translate3d\(-50\%\,-50\%\,0\) {
  transform: translate3d(-50%,-50%,0);
}
.TranslateY\(-50\%\) {
  transform: translateY(-50%);
}
.W\(100\%\) {
  width: 100%;
}
.W\(252px\) {
  width: 252px;
}
.W\(509px\) {
  width: 509px;
}
.Z\(100\) {
  z-index: 100;
}
.Hidden {
  position: absolute !important;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
